span.subject1      {color: #FE5F55;}
span.contrast1     {color: #3D348B;}

span.subject2      {
    margin: 0.05em;
    padding:0.05em;
    line-height:1.2;
    display:inline-block;
    border-radius:.55em;
    border:2px solid;
    border-color: black;
}
span.contrast2     {
    margin: 0.05em;
    padding:0.05em;
    line-height:1.2;
    display:inline-block;
    border-radius:.025em;
    border:2px solid;
    border-color: black;
}

span.subject3      { text-decoration: underline; 
}
span.contrast3     { font-style: oblique; 
}


span.highlighted   { display: inline;
                     padding: 1em 0em;
                     background-color: #D8D52B;
                     box-decoration-break: clone;
}

span.threshold     {}  

.indentation     {display:inline-block; 
                  width: 50px;
}