span.subject1      {color: red;}
span.contrast1     {color: blue;}

span.subject2      {
    margin: 0.05em;
    padding:0.05em;
    line-height:1.2;
    display:inline-block;
    border-radius:.55em;
    border:2px solid;
    border-color: black;
}
span.contrast2     {
    margin: 0.05em;
    padding:0.05em;
    line-height:1.2;
    display:inline-block;
    border-radius:.025em;
    border:2px solid;
    border-color: black;
}

span.subject3      { text-decoration: underline; 
}
span.contrast3     { font-style: oblique; 
}


span.privative     {    opacity: 0.9;
		                mix-blend-mode: difference;
                       	filter: invert(0.7); 
                       	}
                       	
span.threshold     {}  

.indentation     {display:inline-block; 
                  width: 50px;
}