
* {
	font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#controls {
	position: fixed;
	clear: both;
	float: right;
	width: 30%;
	top: 0;
	right: 0;
}

.ui-tree {
	width: 100%;
	position: relative;
}

.ui-tree .ui-tree-container {
	margin: 0;
	padding: 3px;
	white-space: nowrap;
	overflow: auto;
}

.ui-widget,
.ui-widget .ui-widget {
    font-size: 12px !important;
}

.img_button {
	max-height: 150px;
	max-width: 200px;
	width: 120px;
	height: 120px;
}

.lg_img_button {
	max-height: 140px;
	max-width: 140px;
	width: 140px;
	height: 140px;
}

.md_img_button {
	max-height: 70px;
	max-width: 70px;
	width: 70px;
	height: 70px;
}

.sm_img_button {
	max-height: 150px;
	max-width: 200px;
	width: 30px;
	height: 30px;
}

.sm_img_status {
	max-height: 70px;
	max-width: 70px;
	width: 40px;
	height: 40px;
}

#text_window {
	width: 70%;
	margin: 0;
}