#text {
    max-width: 70% !important;
    width: 70% !important;
    display:inline-block;ssh roedel
    vertical-align: left;
    word-wrap: break-word;
    overflow: visible;
}


* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    color: #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td a, td p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#controls {
    position: fixed;
    clear: both;
    float: right;
    width: 30%;
    top: 0;
    right: 0;
}

.ui-tree {
    width: 100%;
    position: relative;
}

.ui-tree .ui-tree-container {
    margin: 0;
    padding: 1px;
    white-space: nowrap;
    overflow: auto;
}

.ui-widget {
    font-size: 12px !important;
}

.ui-fileupload-content {
    padding: 0px !important;
}

.ui-corner-bottom {
    display: none !important;
}

.md_img_button {
    max-height: 5vh;
    max-width: 5vh;
    width: 5vh;
    height: 5vh;
}

.lg_img_button {
    max-height: 7vh;
    max-width: 7vh;
    width: 7vh;
    height: 7vh;
}

.ui-button-icon-only {
    max-height: 4%;
    max-width: 4%;
    width: 4%;
    height: 4%;
}

.sm_img_button {
	max-height: 1.5vh;
	max-width: 1.5vh;
	width: 1.5vh;
	height: 1.5%vh;
}

.sm_img_status {
	max-height: 10vh;
	max-width: 10vh;
	width: 10vh;
	height: 10vh;
}

.mc_img_status {
    max-height: 10vh;
    max-width: 10vh;
    width: 10vh;
    height: 10vh;
}

#text_window {
    width: 70%;
    margin: 0;
}

h5 {
    padding: 1px;
    margin: 1px
}